<% content_for :menu_item_title do %>
  <%= plural_resource_name(Spree::MenuItem) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to  Spree.t(:new_menu_item, scope: :static_content), 
                      new_object_url, 
                      icon: 'plus', 
                      class: 'btn-primary', 
                      id: 'admin_new_menu_item' 
  %>
<% end %>

<% if @menu_items.any? %>
  <div id="list-menu-items" data-hook>
    <%= render 'list' %>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::MenuItem)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% end %>